base_font_size = 18px

base_black = #000000
base_white = #ffffff
base_blue = #1b3e67
base_gray = #48453e

/*flex(vert=flex-start, horz=flex-start, wrap=no-wrap)
	display flex
	align-items vert
	justify-content horz
	flex-wrap wrap*/