@import "normalize.css"
@import "mixin.styl"
@import "fonts.styl"


.container
    width 100%
    max-width 1280px
    margin 0 auto
@media (min-width: 768px) and (max-width: 1024px)
  .container 
    padding: 0 26px
    width auto
@media (max-width: 767px)
    .container 
        padding: 0 16px
        width auto
a
    text-decoration none
    color #000
header
    .main_logo
        position absolute
        top 0
        background: transparent;
        z-index: -1;
    .menu-btn
        display none
    .header_block
        display flex
        justify-content space-between
        border-bottom 2px solid #000
        padding 30px 0
        width 1280px
        position fixed
        z-index 10
        .language-box
            display flex
            a
                font-family 'IBM-Light'
            .active
                font-family: 'IBM-Bold';
            p
                padding 0 16px
                font-family 'IBM-Light'
        .logo
            position absolute
            right 50%
        .nav
            display flex
            width 30%
            justify-content space-between
            a
                font-family 'IBM-Light'           
body
    background-color #E5E5E5;
    .main-block
        height 950px
        .main_text_block
            float right
            position relative
            h1
                font-family: "IBM-Light";
                padding 368px 0 120px 0
                font-size: 64px;
                color: #000000;
                mix-blend-mode: normal;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            span
                font-family: "IBM-Light";
                font-size: 64px;
                color: #000000;
                mix-blend-mode: normal;
                background-color #FF1A1A
                position absolute
            .dev
                top 487px
                padding-bottom 45px
            .shop
                top 560px
                right 12px
                padding-bottom 45px 
    .about
        display flex
        justify-content space-between
        align-items top
        background-image: url(../assets/img/Bg.png)
        background-repeat: no-repeat
        padding-bottom 138px
        h2
            font-family "Gosha"
            font-size 96px
            color #000000
            mix-blend-mode normal
            margin-top: -35px
        .about_text_block
            display flex
            width 70%
            p
                font-family: 'Rubik';
                font-style: normal;
                font-weight: normal;
                line-height: 34px;
                font-size: 20px;
                color: #000000;
                margin 0 23px
    .desc
        border-top 2px solid black
        display flex
        justify-content space-between
        align-items center
        padding-bottom 273px
        .desc_item
            padding-top 46px
            h3
                font-family: "Gosha";
                line-height: normal;
                font-size: 32px;
                color: #000000;
                mix-blend-mode: normal;
                padding-bottom 16px
            p
                font-family: "Rubik";
                font-style: normal;
                font-weight: normal;
                line-height: 27px;
                font-size: 16px;
                color: #000000;
    .projects
        display flex
        padding-bottom 192px
        h2
            font-family "Gosha"
            font-size 96px
            color #000000
            mix-blend-mode normal
            margin-top: -35px
        .projects_box
            width 100%
            .projects_item_box_first
                background-image url(../assets/img/01.png)
                background-repeat no-repeat
                margin 64px 0 75px 0
                background-size contain
                padding-left 110px
            .projects_item_box_sec
                background-image url(../assets/img/02.png)
                background-repeat no-repeat
                margin 64px 0 75px 0
                background-size contain
                padding-left 110px
            .projects_item_box_third
                background-image url(../assets/img/03.png)
                background-repeat no-repeat
                margin 64px 0 75px 0
                background-size contain
                padding-left 110px
            .projects_item_box_forth
                background-image url(../assets/img/04.png)
                background-repeat no-repeat
                margin 64px 0 75px 0
                background-size contain
                padding-left 110px
            .projects_item_box_fifth
                background-image url(../assets/img/05.png)
                background-repeat no-repeat
                margin 64px 0 75px 0
                background-size contain
                padding-left 110px
            .projects_title_box
                display flex
                p
                    padding-right 40px
                    font-family: "Rubik";
                    font-style: normal;
                    font-weight: normal;
                    line-height: 22px;
                    font-size: 16px;
                    color: #000000;
                    mix-blend-mode: normal;
            .link
                border-bottom 2px solid black
                padding-bottom 16px
                a
                    font-family: "IBM-Light";
                    font-style: normal;
                    font-weight: normal;
                    line-height: 73px;
                    font-size: 48px;
                    color: #000000;
                    mix-blend-mode: normal;
                    width 100% 
footer
    background-color #E5E5E5;
    padding-bottom 192px
    .contacts
        display flex
        align-items flex-start
        h2
            font-family "Gosha"
            font-size 96px
            color #000000
            mix-blend-mode normal
            margin-top: -35px
            padding-right 250px
        .soc_box
            display flex
            flex-wrap wrap
            a
                font-family: "Rubik";
                font-style: normal;
                font-weight: normal;
                line-height: 67px;
                font-size: 48px;
                color: #000000;
                width 50%
@media (max-width: 767px)
    header
        .main_logo
            width 270px
            left -30px
        .menu-btn
            display block
            top 14px
            left auto
            right 6%
            position fixed
            z-index 20
            &:hover > span:nth-child(2)
                margin-left 0
            &.active
                span
                    &:nth-child(1)
                        transform rotate(45deg)
                        margin-top 12px
                    &:nth-child(2)
                        display none
                    &:nth-child(3)
                        transform rotate(-45deg) translateX(5px) translateY(-6px)
            span
                display block
                width 20px
                height 2px
                background-color base_black
                transition .1s linear
                margin 6px 0
        .header_block
            width 90%
            height 58px
            padding 0
            .language-box
                display none
                a
                    font-family 'IBM-Light'
                .active
                    font-family: 'IBM-Bold';
                p
                    padding 0 16px
                    font-family 'IBM-Light'
            .logo
                position absolute
                right 25%
                padding 18px 0 14px 0
            .nav
                width 250px
                height 100vh
                background-color #ffffff
                position fixed
                top 0
                right 0
                display none
                padding 50px 20px
                z-index 5
                a
                    width 200px
                    padding 16px 0 16px 30px
    body
        .main-block
            height 408px
            .main_text_block
                float right
                position relative
                h1
                    font-size: 18px;
                    text-shadow none
                    padding 220px 0 120px 0
                span
                    font-size: 18px;
                .dev
                    top 242px
                    padding-bottom 0
                .shop
                    top 260px
                    right 12px
                    padding-bottom 0
        .about
            display block
            padding-bottom 71px
            h2
                font-size 36px
                margin-bottom 8px
                margin-top 0  
            .about_text_block
                display block
                width auto
                p
                    line-height: 24px;
                    font-size: 14px;
                    margin 16px 0 0 0
        .desc
            border-top 2px solid black
            display block
            justify-content space-between
            align-items center
            padding-bottom 80px
            .desc_item
                padding-top 40px
                h3
                    font-size: 24px;
                    padding-bottom 16px
                p
                    line-height: 20px;
                    font-size: 12px;
        .projects
            display block
            padding-bottom 80px
            h2
                font-size: 36px;
                margin 0
            .projects_box
                width 100%
                .projects_item_box_first
                    background-image url(../assets/img/01.png)
                    background-repeat no-repeat
                    margin 48px 0
                    background-size contain
                    padding-left 0
                    background-position right
                .projects_item_box_sec
                    background-image url(../assets/img/02.png)
                    background-repeat no-repeat
                    margin 48px 0
                    background-size contain
                    padding-left 0
                    background-position right
                .projects_item_box_third
                    background-image url(../assets/img/03.png)
                    background-repeat no-repeat
                    margin 48px 0
                    background-size contain
                    padding-left 0
                    background-position right
                .projects_item_box_forth
                    background-image url(../assets/img/04.png)
                    background-repeat no-repeat
                    margin 48px 0
                    background-size contain
                    padding-left 0
                    background-position right
                .projects_item_box_fifth
                    background-image url(../assets/img/05.png)
                    background-repeat no-repeat
                    margin 48px 0
                    background-size contain
                    padding-left 0
                    background-position right
                .projects_title_box
                    display flex
                    p
                        line-height: 19px;
                        font-size: 14px;
                .link
                    border-bottom 2px solid black
                    padding-top 4px
                    padding-bottom 12px
                    a
                        line-height: 37px;
                        font-size: 24px;
    footer
        background-color #E5E5E5;
        padding-bottom 104px
        .contacts
            display block
            h2
                font-size: 36px;
                margin-top: 0
                padding-right 0
                margin-bottom 40px
            .soc_box
                display block
                .soc_box_item
                    margin-bottom 8px
                    a
                        line-height: 33px;
                        font-size: 24px; 
@media (min-width: 768px) and (max-width: 1024px)
    header
        .main_logo
            width 400px
        .header_block
            display none
    body
        .main-block
            height 627px
            .main_text_block
                margin-right 70px
                h1
                    font-size 28px
                    text-shadow none
                span
                    font-size 28px
                .dev
                    top 430px
                    padding-bottom 0
                .shop
                    top 461px
                    right 12px
                    padding-bottom 0
        .about
            display block
            padding-bottom 80px
            h2
                font-size 48px
                padding-bottom 24px
            .about_text_block
                display flex
                justify-content space-between
                width 100%
                p
                    line-height: 24px;
                    font-size: 14px;
                    margin 0
                    width 334px
        .desc
            border-top 2px solid black
            display flex
            justify-content space-between
            align-items flex-start
            flex-wrap wrap
            padding-bottom 104px
            .desc_item
                padding-top 46px
                width 334px
                h3
                    font-size: 24px;
                p
                    line-height: 20px;
                    font-size: 12px;
        .projects
            padding-bottom 104px
            h2
                font-size 48px
            .projects_box
                .projects_item_box_first
                .projects_item_box_sec
                .projects_item_box_third
                .projects_item_box_forth                   
                .projects_item_box_fifth                    
                .projects_title_box
                    p
                        line-height: 19px;
                        font-size: 14px;
                .link
                    a
                        line-height: 55px;
                        font-size: 36px;
    footer
        background-color #E5E5E5;
        padding-bottom 160px
        .contacts
            display block
            h2
                font-size 48px
            .soc_box
                display block
                padding-top 40px
                .soc_box_item
                    width: 300px;
                    margin: 0 auto;
                    padding-bottom 8px
                    a
                        line-height: 50px;
                        font-size: 36px;                     